.Badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.55rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;

  &.blue {
    color: var(--color-blue);
    background-color: var(--color-blue-light);
  }

  &.orange {
    color: var(--color-orange);
    background-color: var(--color-orange-light);
  }

  &.green {
    color: var(--color-green);
    background-color: var(--color-green-light);
  }
}

.Badge__dot {
  font-size: 0.7rem;
  margin-right: 2px;
}
