@import "mixins";

$color-primary: #141646;
$color-secondary: #555dff;

:root {
  --color-primary: #{$color-primary};
  --color-primary-light: #5b5c8a;

  --color-secondary: #{$color-secondary};
  --color-secondary-light: #{lighten($color-secondary, 2)};

  --color-green: #0bc281;
  --color-green-light: #caf7e7;
  --color-green-light-2: #eafff7;

  --color-orange: #ff8c04;
  --color-orange-light: #ffeeda;
  --color-orange-light-2: #fff6ea;

  --color-blue: #00b1ed;
  --color-blue-light: #d5f6ff;
  --color-blue-light-2: #ecfbff;

  --color-border: #dddde7;
}
