:root {
  --color-primary: rgb(20, 22, 70);
  --color-secondary: rgb(85, 93, 255);

  --color-green: rgb(11, 194, 129);
  --color-green-light: rgb(202, 247, 231);
  
  --color-orange: rgb(255, 140, 4);
  --color-orange-light: rgb(255, 238, 218);

  --color-blue: rgb(0, 177, 237);
  --color-blue-light: rgb(213, 246, 255);

  --color-grey: rgb(221, 221, 231);
}
