.ListItemSolo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 15px 20px;
  background-color: white;
}

.ListItemSolo__text {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 0.85rem;
}

.ListItemSolo__status {

}
