.SectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  &__title {
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 0.95rem;
    white-space: nowrap;
  }
}

@media (max-width: 745px) {
  .SectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;
    gap: 0;
    padding-bottom: 0;

    &__title {
      color: var(--color-primary-light);
      font-weight: 600;
      font-size: 0.95rem;
      white-space: nowrap;
      margin-bottom: 10px;
    }
  }
}
