.SectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;

  &__title {
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 0.95rem;
  }
}
