.UserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.UserInfo__image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  position: relative;
  background-color: rgb(221, 221, 231);
  border-radius: 3px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
}

.UserInfo__onlineDot{
  width: 6px;
  height: 6px;
  background-color: rgb(113, 221, 55);
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  right: -3px;
  border: 2px solid white;
  box-sizing: content-box;
  z-index: 10;
}

.UserInfo__initials {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.45rem;
  font-weight: 600;
  user-select: none;
}

.UserInfo__name {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1px;
}

.UserInfo__email {
  font-size: 0.6rem;
  font-weight: 500;
  opacity: 0.5;
}
